:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsla(210, 9%, 31%, 1);

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;
}

h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
}

h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
}

button {
  background: var(--primary-color);
}
